#container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#container > div {
  background-color: rgb(223, 132, 22);
  width: 200px;
  margin: 10px auto;
  padding: 10px;
}

#grid {
  display: grid;
  background-color: green;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 200px 200px auto;
  padding: 20px;
}
.grid-item{
    padding: 20px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
}